#clearB{
  position:absolute;
  left:349px;
  top:148px;
}
#negativeB {
  position: absolute;
  left: 500px;
  top: 148px;
}
#percentB {
  position: absolute;
  left: 651px;
  top: 148px;
}
#decimalB{
  position: absolute;
  left:651px;
  top:752px;
}
#divisionB{
  position:absolute;
  left:802px;
  top:148px;
}
#multiplcationB{
  position:absolute;
  left:802px;
  top:299px;
}
#subtractionB{
  position:absolute;
  left:802px;
  top:450px;
}
#additionB{
  position:absolute;
  left:802px;
  top:601px;
}
#equalB{
  position:absolute;
  left:802px;
  top:752px;
}
#Num0{
  position:absolute;
  left:349px;
  top:752px;
}
#Num1{
  position:absolute;
  left:349px;
  top:601px;
}
#Num2{
  position:absolute;
  left:500px;
  top:601px;
}
#Num3{
  position:absolute;
  left:651px;
  top:601px;
}
#Num4{
  position:absolute;
  left:349px;
  top:450px;
}
#Num5{
  position:absolute;
  left: 500px;
  top: 450px;
}
#Num6{
  position:absolute;
  left:651px;
  top:450px;
}
#Num7{
position:absolute;
left:349px;
top:299px;
}
#Num8{
position:absolute;
left:500px;
top:299px;
}
#Num9{
position:absolute;
left:651px;
top:299px;
}

title {
    font-size: 10px;
    height: 250px;
    font color: black
}

Body {
  background-color: white;

}
button:hover {
  background-color: #d9d9d9;
  color: white;
  transition-duration: 0.69s;
}

.calculator-screen {
  width: ,100%;
  font-size: 10px;
  height: 250px;
  border: none;
  background-color: black;
  color: white;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

.calc-buttons{
  width:150px;
  height: 150px;
  background-color:  #404040;
  color: white;
  border: 2px solid white;
  font-size: 48px;
  font-family: sans-serif;
  border-radius: 50%;
}
.zero-button{
  width:301px;
  height: 150px;
  background-color:  #404040;
  color: white;
  border: 2px solid white;
  font-size: 48px;
  font-family: sans-serif;
  border-radius: 75px;
  text-indent: -145px;
}
.function-buttons{
  width:150px;
  height: 150px;
  background-color: #404040;
  color: white;
  border: 2px solid black;
  font-size: 48px;
  font-family: sans-serif;
  border-radius: 50%;
}
.clear-button{
  width:150px;
  height: 150px;
  background-color: ##404040;
  color: white;
  border: 2px solid white;
  font-size: 48px;
  border-radius: 50%;
  font-family: sans-serif;
}

input{
  width:599px;
  height:125px;
  position:absolute;
  left:349px;
  top:15px;
  text-align: right;
  font-size: 60px;
  color:black;
  border: solid black 2px;
}
